section{
    position: relative;
}

#pieza2{
    position: absolute;
    top: 0;
    left:150px;
}

#pieza3{
    position: absolute;
    top: 150px;
    left: 95px;
}

#pieza4{
    position: absolute;
    top: 95px;
}

